/*  css for modal */
.generatemodalpromptpage{
     position: fixed;
     top:0;
     left:0;
     right:0;
     bottom:0;
     display:flex;
     justify-content: center;
     align-items:center;
     z-index:1000;
     background-color: rgb(0,0,0,0.5);
}
.generatemodalprompt{
     position: fixed;
     width:500px;
     min-width: 300px;
     height:300px;
     background-color: white;
     border:2px solid white;
     border-radius: 20px;
     z-index: 1000;
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap:50px;
     background-color: rgba(39, 44, 69, 0.90);
}
.generatemodalpromptheading{
     font-size:29px;
     font-family:cursive;
     font-weight: 900;
     color:white
}
.allgeneratemodalpromptbtn{
     display: flex;
     justify-content: center;
     gap:30px;
}
.generatemodalpromptbtn{
     width:110px;
     height: 50px;
     border-radius: 15px;
     border:none;
     font-family:cursive;
     font-weight: 800;
     font-size: 18px;
     
}
.generatemodalpromptok{
     background-color:rgb(76, 239, 76);
}
.generatemodalpromptcancel{
     background-color: rgb(249, 105, 105);
}
.inputgenerateprompt{
     display: flex;
     justify-content: center;
}
.inputgeneratemodalprompt{
     width:50%;
     outline:none;
     height:40px;
     border-radius: 10px;
     margin-top:-10px;
     font-size: 20px;
     font-family: cursive;
     font-weight: 800;
     text-align: center;
}